<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body class="bg" id="changedBody">
<div data-role="page" class="text-center" id="changedDiv" th:fragment="content" th:remove="tag">

    <div data-role="header" class="header linear-g transparentbg" style="width: 70%">
        <a data-iconpos="notext" class="col-xs-5 text-left" id="myFriendListNav"
           th:action="@{/webUser/friendList}"><span
                class="glyphicon glyphicon-heart">我的好友列表</span> </a>
        <a data-iconpos="notext" class="col-xs-4 text-left" id="addFriendNav" th:action="@{/webUser/addFriend}"><span
                class="glyphicon glyphicon-plus">加好友</span></a>
        <a data-iconpos="notext" class="col-xs-3 text-left" id="friendApplyNav"
           th:action="@{/webUser/friendApply}"><span
                class="glyphicon glyphicon-info-sign">我收到的好友请求</span></a>
    </div>


    <div data-role="content" class="container" role="main" style="width: 50%">

        <div th:each="fr: ${friendRelations}">
            <ul class="content-reply-box mg10">
                <li class="odd">
                    <div class="reply-content-box">
                        <div class="reply-content pr transparentbg">
                            <span class="arrow">&nbsp;</span>
                            <span>[[${fr.webUser1.userName}]]&nbsp;&nbsp;</span>
                            请求加您为好友
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="operating row text-center linear-g transparentbg">
                <li class="col-xs-6" name="acceptButton" th:value="${fr.id}"><a href="#"><span
                        class="glyphicon glyphicon-ok-sign"></span>
                    &nbsp;接受</a></li>
                <li class="col-xs-6" name="refuseButton" th:value="${fr.id}"><a href="#"><span
                        class="glyphicon glyphicon-remove-sign"></span>
                    &nbsp;拒绝</a></li>
            </ul>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

    </div>
</div>

</body>
</html>